%%
%% rebar3 configuration file
%%
{plugins, [
    {wivrr, {git, "https://github.com/nlfiedler/wivrr.git", {tag, "1.0.0"}}}
]}.

{minimum_otp_vsn, "17"}.

{erl_opts, [
    debug_info,
    fail_on_warning,
    {parse_transform, lager_transform}
]}.

{deps, [
    {lager,  {git, "https://github.com/basho/lager",      {tag, "3.2.4"}}},
    {ulid,   {git, "https://github.com/savonarola/ulid",  {branch, "master"}}},
    {enenra, {git, "https://github.com/nlfiedler/enenra", {tag, "0.1.2"}}}
]}.

{provider_hooks, [{pre, [{release, mkversion}]}]}.

{relx, [
    {include_erts, false},
    {include_src, false},
    {release, {akashita, "0.1.0"}, [
        akashita
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {overlay, [
        % It would be great if there were overlay vars for all of the parts
        % in the path to the generated Version file, but there does not
        % seem to be any.
        {copy, "_build/default/lib/{{release_name}}/Version", "{{output_dir}}/Version"}
    ]}
]}.
