%%
%% rebar3 configuration file
%%
{minimum_otp_vsn, "19"}.

{erl_opts, [
    debug_info,
    fail_on_warning,
    {parse_transform, lager_transform}
]}.

{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.6.7"}}},
    {ulid, {git, "https://github.com/savonarola/ulid", {tag, "v0.1.0"}}},
    {enenra, {git, "https://github.com/nlfiedler/enenra", {tag, "0.2.0"}}}
]}.

{relx, [
    {include_erts, false},
    {include_src, false},
    {release, {akashita, "0.1.0"}, [
        akashita
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.
