%%
%% rebar configuration file (https://github.com/rebar/rebar)
%%

{require_otp_vsn, "17|18"}.

{erl_opts, [
    debug_info,
    fail_on_warning,
    {parse_transform, lager_transform}
]}.

{clean_files, [
    "ebin",
    "logs",
    "priv/*.so",
    "src/*.beam",
    "test/*.beam",
    "akashita"
]}.

%% Compile into a single, self-contained executable.
{escript_name, "akashita"}.
{escript_incl_apps, [lager]}.

{pre_hooks, [{compile, "go install github.com/nlfiedler/akashita/klutlan"}]}.
{post_hooks, [{clean, "go clean github.com/nlfiedler/akashita/klutlan"}]}.

{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager", {tag, "3.1.0"}}}
]}.
