%% -*- mode: erlang -*-
[
    {akashita, [
        %
        % 'use_sudo', if true, indicates that some of the zpool/zfs
        % commands require the use of the `sudo` command; default is
        % false
        %
        {use_sudo, false},
        %
        % 'go_time' defines the windows of (local) time when the uploads
        % will take place; format is 24 hour time
        %
        {go_times, ["22:00-06:00", "10:00-16:00"]},
        %
        % 'tmpdir' is where the tar files will be created prior to uploading;
        % one vault will be processed at a time, so space equivalent to the
        % largest dataset will be needed
        %
        {tmpdir, "/rpool/glacier"},
        %
        % 'split_size' is passed to the split command (via the -b option) to
        % split the tar files into manageable chunks; doing so helps when
        % uploading files sometimes requires a retry or two; default is "64M"
        %
        {split_size, "128M"},
        %
        % TODO: add a 'default_excludes' that applies to all vaults
        %
        % {default_excludes, [".thumbnails"]},

        {vaults, [
            %
            % the keys of this proplist form the names of the vaults, which
            % will have the current date appended to form the complete vault
            % name, e.g. photos-2016-04-26
            %
            {"photos", [
                %
                % 'dataset' names the ZFS filesystem containing the paths to be
                % 'archived.
                %
                {dataset, "tank/photos"},
                %
                % 'clone_base' specifies where ZFS clones will be created. They
                % must reside within the same pool as the ZFS dataset.
                %
                {clone_base, "tank/glacier"},
                %
                % 'paths' defines the paths (rooted at 'dataset') which will be
                % included in the archives for this vault
                %
                {paths, [
                    "kids",
                    "vacations",
                    "wedding"
                ]},
                %
                % 'compressed' is a boolean; if true, the tar files will be
                % compressed (typically with bzip2); this may not make sense
                % for photos and videos which are already compressed; default
                % is false
                %
                {compressed, false},
                %
                % 'excludes' specify file patterns that should be excluded from
                % the tar files; they are passed to the tar command with the
                % --exclude option; default is the empty list
                %
                {excludes, [".DS_Store", ".localized"]}
            ]}
        ]}
    ]}
].
