#!/bin/sh
#
# PROVIDE: akashita
# REQUIRE: NETWORKING
# KEYWORD: shutdown
#
# Start and stop the akashita daemon using BSD-style rc.d system. Copy this file
# to /usr/local/etc/rc.d, make the file executable, enable the service by
# appending 'akashita_enable="YES"' to the end of /etc/rc.conf, and then start
# it like so:
#
# $ sudo service akashita start
#

. /etc/rc.subr

name=akashita
rcvar=akashita_enable
start_cmd="${name}_start"
stop_cmd="${name}_stop"

load_rc_config $name
: ${akashita_enable:="yes"}

akashita_start() {
    # With the service command, /usr/local/bin will be absent from the PATH,
    # which this script requires, otherwise it quietly fails to start.
    PATH=/usr/local/bin:$PATH /opt/akashita/bin/akashita -detached
}

akashita_stop() {
    # Quietly connect to the other instance and tell it to shut down. The node
    # name must match what is found in the vm.args configuration file.
    /usr/local/bin/erl -noshell -sname stop_akashita \
        -eval "rpc:call('akashita@localhost', init, stop, []), init:stop()."
}

run_rc_command "$1"
